@model QuanLyCv1.Models.Loai_C_V

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Layout-admin.cshtml";
}

<h2>Thêm mới loại công việc</h2>
@if (ViewBag.al != null)
{
    <div class="alert alert-success">@ViewBag.al</div>
}
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            <label class="control-label col-md-2">Tên loại công việc</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="categoryName" name="categoryName" />
                @Html.ValidationMessageFor(model => model.LoaiCV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" hre />
            </div>
        </div>
    </div>

}

<div>
    <a href="~/Admin/Loai_C_V" class="btn btn-success">Trở về</a>
</div>

